#cont{
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 400px;
    height: 420px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.774),
    5px 5px 15px rgba(0, 0, 0, 0.733);
    border-radius: 10px 60px;
    padding: 30px;
    color: white;
}

#form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#Loginn{
    position: relative;
    font-size: 3em;
    left: 25%;
    margin-bottom: 20px;
    text-decoration: none;
}

#emailinput{
    height: 40px;
    border-radius: 5px 20px;
    margin-bottom: 20px;
}

#passwordinput{
    height: 40px;
    border-radius: 5px 20px;
    margin-bottom: 40px;
}

#submit{
    height: 40px;
    border-radius: 5px 20px;
    position: relative;
    width: 100px;
    left: 35%;
}

#Registerr{
    position: relative;
    left: 25%;
    font-weight: 500;
    margin-top: 10px;
    font-size: .8em;
    cursor: pointer;
    text-decoration: underline;
}
